#nav {
	width: 1350px;
	font-family: Verdena, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	display: block;
	background-color: #D8F2DD;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

#nav ul {
	list-style: none;
	margin: 0;
	padding: 2px;
	font-size: 0.8em;
}

#nav li {
	display: inline;
}

#nav a:link, #nav a:visited {
	margin-right: 2px;
	padding: 4px 2px;
	color: #000000;
	background-color: #96F4A3; /* #D2B48C; #F5DEB3 ; */
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #717171;
	border-right: 1px solid #717171;
}

#nav a:hover {
	background-color: #96D4A3;
	border-top: 1px solid #717171;
	border-left: 1px solid #717171;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#menuPoziome {
	margin: 2px 4px;
	border: none;
	border-bottom: solid 1px black;
	padding: 2px;
	width: 1006px;
	font-family: verdana, helvetica, sans-serif;
	font-size: 8pt;
	text-align: left;
	background: rgb(249, 249, 240);
}

#menuPoziome ul {
	margin: 0px;
	padding: 0px 15px;
	list-style-type: none;
}

#menuPoziome li {
	margin: 2px;
	border: none;
	width: 100%;
	display: inline;
}

#menuPoziome .cmi li a:hover {
	background-image: none;
	background-color: #4CAF50;
	color: #1F6684;
}

div#ramka {
	width: 1350px;
	font-size: 0.8em;
	margin: 6px 4px;
	line-height: 1.5em;
	background-color: #EFEFEF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

.tabela {
	width: 1200 px;
}

table.tabela {
		align: center;
		
}

div#ramkat {
	width: 1300px;
	font-size: 0.7em;
	margin: 6px 4px;
	line-height: 1.5em;
	background-color: #EFEFEF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

div#legenda {
	width: 100px;
	font-size: 0.6em;
	margin: 6px 4px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

div#ramkagl {
	width: 250px;
	float: left;
	margin: 4px 3px;
	font-size: 0.7em;
	line-height: 1.5em;
	background-color: #D4E994; /* EFEFEF */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCCCCC;
	padding: 8px;
}

div#ramkagp {
	width: 1300px;
	float: left;
	margin: 4px 3px;
	font-size: 0.6em;
	background-color: #D4E994; /* EFEFEF */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCCCCC;
	padding: 8px;
}

.S {
	background-color: #E0F052;
}

.W {
	background-color: #87A0CE;
}

.C {
	background-color: #597ABA;
}

.I1P {
	background-color: #C5C1AA;
}

.B2P {
	background-color: #FF9955;
}

.Z3P {
	background-color: #E8ADF0;
}

.Z6P {
	background-color: #985BF5;
}

.I1W {
	background-color: #8B8878;
}

.B2W {
	background-color: #E87A0C;
}

.Z3W {
	background-color: #BE8EC4;
}

.Z6W {
	background-color: #7529E6;
}

.EX {
	background-color: #FC3C1D;
}

.Nd {
	background-color: #99FF99;
}

.Bg {
	background-color: #EFEFEF;
}

#nv, #nv ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nv a {
	display: block;
}

#nv li {
	float: left;
}

#nv li ul {
	position: absolute;
	left: -3999em;
}

#nv li:hover ul {
	left: auto;
}

#nv li:hover ul, #nv li.sfhover ul {
	left: auto;
	background: #FFFF00;
	border: 1px solid #EEEEEE;
}